/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h3,
a {
	color:  #ffa31a;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(86, 161, 223, 0.7);
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.img {
	padding-top: 170px;
	height: 850px;
	background: url('../img/wallpaper2.jpg') no-repeat center;
	background-size: cover;
}

.banner,
.main-footer
 {
	text-align: center;
}


.banner {
	background: #fff;
	width: 100%;
	padding: 5em 0;
}

.title {
	background: #fff;
	padding-top: 3em;
	text-align: center;



}

.col,
.banner {
	padding-right: 1em;
	padding-left: 1em;
}

.cities .col {
	padding: 1em;
}



.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

.icon-location {
	width: 35px;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 0;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 1;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.primary,
	.secondary {
		width: 50%;
	}

	.banner img {
		display: block;
		width: 60%;
		margin: 0 auto;
		margin-top: 4em;
		box-shadow: 0 1px 4px rgba(0,0,0,.7);
	}

	.feat-img {
		box-shadow: 0 1px 4px rgba(0,0,0,.7);
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
	.container {
		width: 80%;
	}

	.primary {
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}

	.tokyo, .kyoto, .nara {
		width: 33%;
		margin: 2em 0;
	}

}
